# Môi trường ảo và dependencies cục bộ
.venv/

# Tệp môi trường (sẽ được inject khi chạy container)
.env

# Tệp cache của Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# IDE
.idea/
.vscode/
.DS_Store

# Data & Logs (sẽ được mount qua volume)
data/
logs/

# Thư mục của Node.js
node_modules/
