# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Poetry
.venv

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE
.idea/
.vscode/

# Data & Logs (sẽ được mount qua volume)
data/
logs/

# Môi trường
.env
