/* #MainMenu { visibility: hidden; } */
/* footer  { visibility: hidden; } */

/* .appview-container .main .block-container { margin-top: -140px; } */

/* style form login */
/* .appview-container .main .block-container [data-testid = 'stForm'] { margin: 140px auto; padding: auto; width: 50%; } */

/* style logo */
/* .appview-container [data-testid = 'stSidebar'] .block-container [data-testid = 'stImage'] img { margin: -80px auto 5px auto; } */
